
build/
dist/
*.egg-info/
out/segments_speaker_2/vanilla*
out/streaming*
outputs/
__pycache__/
*__pycache__
checkpoints/
lightning_logs/
EMAGE_2024/smplx_models/*
*.npz
*.bin
*.npy
.ipynb_checkpoints
*.ipynb
*.out
*.log
*.json
*.csv
*.zip
*.tfevents*
configs/lina/llm_nemo-GLA-d1024-l6-lr2e-4.yml
out/bash/
.vscode/*
debug.py