defaults:  
  - _self_  
  - override hydra/hydra_logging: disabled  
  - override hydra/job_logging: disabled  
  
hydra:  
  output_subdir: null  
  run:  
    dir: .

hf_repo: "TeoGchx/BEAT2-english-short"
private: true
hf_token: null  # or set HUGGINGFACE_HUB_TOKEN environment variable
root_dir: "/data/guichoux/BEAT2/beat_english_v2.0.0"
save_path: /data/guichoux/beat_hf
push_to_hub: False